[Unit]
Description=Uptime Kuma Service
After=network.target

[Service]
Type=simple
User=kuma
WorkingDirectory=/home/kuma/app
ExecStart=/usr/bin/node server/server.js
Restart=always
RestartSec=10
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target